.DarkModeBtn {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 7em;
  width: 100%;
}
