.container {
  background-color: var(--background);
  padding: 3em 0;
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.search_input,
.select {
  border: none;
  outline: none;
  box-shadow: 2px 2px 7px var(--shadow), -2px -2px 7px var(--shadow);
  border-radius: 0.3em;
  height: 3em;
  background-color: var(--elements);
  color: var(--text);
}

.search_input {
  background-image: url("../public/search_icon.png");
  background-repeat: no-repeat;
  background-position: 1.4em center;
  background-size: 6%;
  padding: 0 12em 0 4.5em;
}

.search_input::placeholder {
  color: var(--text);
  opacity: 1;
}

.select {
  padding: 0 1em;
  cursor: pointer;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .select {
    width: 16em;
    margin-top: 3em;
  }
  .search_input {
    padding: 0 1em 0 4.5em;
  }
}
